*{
    margin: 0;
    
}
.container-1-wrapper{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    width: 100%;
    padding: 40px;
    
    align-items: center;
}
.container-1{
    width: 50%;
}
.navv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.navv img{
    height: 100px;
    width: 100px;
    border: 2px solid red;
    border-radius: 50%;
}
.navv ul,a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 200px;
    list-style-type: none;
    color: white;
    width: 100%;
}